body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: ghostwhite;
  }
  
  h1 {
    font-size: 18px;
    margin-bottom: 10px;
    background: url('assets/logo.png') no-repeat left center;
    padding-left: 40px; /* Adjust based on logo size */
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  #settingsForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }